@page "/deleteRecord/{No}"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorWASM_SignalR.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Delete</h2>
<p>Confirm to delete record No: <b> @No</b></p>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>DateIn</td>
            <td>@record.IDT_00</td>
        </tr>
        <tr>
            <td>SA_SN</td>
            <td>@record.SA_SN</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
    </div>
</div>


@code {


    [Parameter]
    public string No { get; set; }

    InfoFASA record = new InfoFASA();

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        record = await Http.GetFromJsonAsync<InfoFASA>("api/InfoFASAs/" + No);

        hubConnection = new HubConnectionBuilder()
    .WithUrl(NavigationManager.ToAbsoluteUri("/RecordHub"))
    .Build();

        await hubConnection.StartAsync();

    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;


    protected async Task Delete()
    {
        await Http.DeleteAsync("api/InfoFASAs/" + No);
        if (IsConnected) await SendMessage();
        NavigationManager.NavigateTo("listRecord");

    }


    Task SendMessage() => hubConnection.SendAsync("SendMessage");


    void Cancel()
    {
        NavigationManager.NavigateTo("listRecord");

    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

}