@page "/editRecord/{No}"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorWASM_SignalR.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Edit Record</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="DateIn" class="control-label">DateIn</label>
                <input for="DateIn" class="form-control" @bind="@record.DateIn" />
            </div>
            <div class="form-group">
                <label for="SA_SN" class="control-label">SA_SN</label>
                <input for="SA_SN" class="form-control" @bind="@record.SA_SN" />
            </div>
            <div class="form-group">
                <label for="SA_PN" class="control-label">SA_PN</label>
                <input for="SA_PN" class="form-control" @bind="@record.SA_PN" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@UpdateRecord" value="Update" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>


@code {

    [Parameter]
    public string No { get; set; }

    RecordDetails record = new RecordDetails();

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        record = await Http.GetFromJsonAsync<RecordDetails>("api/RecordDetails/" + No);

        hubConnection = new HubConnectionBuilder()
    .WithUrl(NavigationManager.ToAbsoluteUri("/RecordHub"))
    .Build();

        await hubConnection.StartAsync();

    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;


    protected async Task UpdateRecord()
    {
        await Http.PutAsJsonAsync("api/RecordDetails/" + No, record);
        if (IsConnected) await SendMessage();
        NavigationManager.NavigateTo("listRecord");

    }


    Task SendMessage() => hubConnection.SendAsync("SendMessage");


    void Cancel()
    {
        NavigationManager.NavigateTo("listRecord");

    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

}