@page "/listRecord"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorWASM_SignalR.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Nvidia SA Record</h2>

<style>
    .listTweets {
        overflow: scroll;
        width: 1000px;
    }

    .table_wrapper {
        display: block;
        white-space: nowrap;
    }
</style>


@if (listRecord == null)
{
    <p>Loading...</p>
}
else
{
    <div class="listTweets">
        <div class="table_wrapper">
            <table class="table is-bordered is-narrow is-striped is-clipped">
                <thead>
                    <tr>
                        <th>DateIn</th>
                        <th>SA_SN</th>
                        <th>SA_PN</th>
                        <th>Defect Item</th>
                        <th>Detail Defect</th>
                        <th>DateIn</th>
                        <th>SA_SN</th>
                        <th>SA_PN</th>
                        <th>Defect Item</th>
                        <th>Detail Defect</th>
                        <th>Edit / Remove</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in listRecord)
                    {
                    <tr>
                        <td>@record.IDT_00</td>
                        <td>@record.SA_SN</td>
                        <td>@record.SA_PN</td>
                        <td>@record.Prod_Def</td>
                        <td>@record.DetDefect</td>
                        <td>@record.IDT_00</td>
                        <td>@record.SA_SN</td>
                        <td>@record.SA_PN</td>
                        <td>@record.Prod_Def</td>
                        <td>@record.DetDefect</td>
                        <td>
                            <span class="table-remove">
                                <button type="submit"
                                        class="btn btn-primary btn-rounded btn-sm my-0"
                                        @onclick="() => EditRecord(record.IfFASA_id)">
                                    Edit
                                </button>
                                <button type="submit"
                                        class="btn btn-danger btn-rounded btn-sm my-0"
                                        @onclick="() => modalCard.Show()">
                                    Remove
                                </button>
                            </span>
                        </td>
                        <ModalCardComponent SN="@record.SA_SN" @ref="modalCard">
                            <Control>
                                <button class="button is-success" @onclick="(() => DeleteRecord(record.IfFASA_id))">OK</button>
                            </Control>
                        </ModalCardComponent>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br/>

    <button type="button" class="btn btn-primary" @onclick="AddReject">Add Record</button>
}




@code {


    private ModalCardComponent modalCard;

    InfoFASA[] listRecord;

    SharedDetailDefectList[] defectLists;

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {



        defectLists = await Http.GetFromJsonAsync<SharedDetailDefectList[]>("api/SharedDetailDefectLists");

        hubConnection = new HubConnectionBuilder()
    .WithUrl(NavigationManager.ToAbsoluteUri("/RecordHub"))
    .Build();

        hubConnection.On("ReceiveMessage", () =>
        {

            CallLoadData();
            StateHasChanged();

        });

        await hubConnection.StartAsync();
        await LoadData();

    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }


    protected async Task LoadData()
    {

        listRecord = await Http.GetFromJsonAsync<InfoFASA[]>("api/InfoFASAs");
        StateHasChanged();

    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }


    private void AddReject()
    {
        NavigationManager.NavigateTo("/addRecord");
    }

    private void EditRecord(int id)
    {
        NavigationManager.NavigateTo("/editRecord/" + id);
    }

    protected async Task DeleteRecord(int id)
    {
        await Http.DeleteAsync("api/InfoFASAs/" + id);

        modalCard.Cancel();

        await LoadData();
    }
}