@page "/listRecord"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorWASM_SignalR.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Record Details</h2>

@if (listRecord == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table is-bordered is-narrow is-striped">
        <thead>
            <tr>
                <th>DateIn</th>
                <th>SA_SN</th>
                <th>SA_PN</th>
                <th>Defect Item</th>
                <th>Detail Defect</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in listRecord)
            {
                <tr>
                    <td>@record.IDT_00</td>
                    <td>@record.SA_SN</td>
                    <td>@record.SA_PN</td>
                    <td>@record.Prod_Def</td>
                    <td>@record.DetDefect</td>

                    <td>
                        <a href="/editRecord/@record.IfFASA_id">Edit</a>
                        <a href="/deleteRecord/@record.IfFASA_id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" @onclick="AddReject">Add</button>
}

@code {

    InfoFASA[] listRecord;

    SharedDetailDefectList[] defectLists;



    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {



        defectLists = await Http.GetFromJsonAsync<SharedDetailDefectList[]>("api/SharedDetailDefectLists");

        hubConnection = new HubConnectionBuilder()
    .WithUrl(NavigationManager.ToAbsoluteUri("/RecordHub"))
    .Build();

        hubConnection.On("ReceiveMessage", () =>
        {

            CallLoadData();
            StateHasChanged();

        });

        await hubConnection.StartAsync();
        await LoadData();

    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }


    protected async Task LoadData()
    {

        listRecord = await Http.GetFromJsonAsync<InfoFASA[]>("api/InfoFASAs");
        StateHasChanged();

    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }


    private void AddReject()
    {
        NavigationManager.NavigateTo("/addRecord");
    }

}